<a href="https://colab.research.google.com/github/arturbeg/random_google_colabs/blob/master/data_cleaning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Upload your kaggle.json file with the api keys at this step
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"arturbegyan98","key":"2d22f892cf866413f9980b223efa5b30"}'}

In [0]:
!pip install -q kaggle

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [24]:
!kaggle datasets download -d maxhorowitz/nflplaybyplay2009to2016

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
nflplaybyplay2009to2016.zip: Skipping, found more recently modified local copy (use --force to force download)

In [25]:
!unzip nflplaybyplay2009to2016.zip -d '.'

Archive:  nflplaybyplay2009to2016.zip
replace ./NFL Play by Play 2009-2016 (v3).csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./NFL Play by Play 2009-2016 (v3).csv
replace ./NFL Play by Play 2009-2017 (v4).csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./NFL Play by Play 2009-2017 (v4).csv  y
y

replace ./NFL Play by Play 2009-2018 (v5).csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:   inflating: ./NFL Play by Play 2009-2018 (v5).csv  y
y
y
y
y
y
y
y
y
y

In [26]:
import pandas as pd
nfl_data = pd.read_csv("NFL Play by Play 2009-2017 (v4).csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
import numpy as np
np.random.seed(0)

In [28]:
nfl_data.sample(5)

              Date      GameID  Drive  ...    airWPA    yacWPA Season
244485  2014-10-26  2014102607     18  ... -0.018156  0.038091   2014
115340  2011-11-20  2011112000     22  ...       NaN       NaN   2011
68357   2010-11-14  2010111401      8  ...       NaN       NaN   2010
368377  2017-09-24  2017092405     24  ...  0.003866  0.010899   2017
384684  2017-11-05  2017110505     11  ...       NaN       NaN   2017

[5 rows x 102 columns]

In [29]:
# see how many missing data points we have
missing_values_count = nfl_data.isnull().sum()
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [0]:
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

In [32]:
(total_missing/total_cells) * 100

24.87214126835169

In [33]:
# Is this value missing becuase it wasn't recorded or becuase it dosen't exist?
# imputation
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [35]:
# read over the dataset documentation
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

         Date      GameID  Drive  ...  ExPoint_Prob  TwoPoint_Prob  Season
0  2009-09-10  2009091000      1  ...           0.0            0.0    2009
1  2009-09-10  2009091000      1  ...           0.0            0.0    2009
2  2009-09-10  2009091000      1  ...           0.0            0.0    2009
3  2009-09-10  2009091000      1  ...           0.0            0.0    2009
4  2009-09-10  2009091000      1  ...           0.0            0.0    2009

[5 rows x 41 columns]

In [36]:
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

In [37]:
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474       NaN       NaN  ...       NaN       NaN    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760       NaN       NaN  ...       NaN       NaN    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796       NaN       NaN  ...       NaN       NaN    2009

[5 rows x 12 columns]

In [38]:
subset_nfl_data.fillna(0)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474  0.000000  0.000000  ...  0.000000  0.000000    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  0.000000  0.000000  ...  0.000000  0.000000    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796  0.000000  0.000000  ...  0.000000  0.000000    2009

[5 rows x 12 columns]

I could also be a bit more savvy and replace missing values with whatever value comes directly after it in the same column. (This makes a lot of sense for datasets where the observations have some sort of logical order to them.)

In [40]:
# replace all NA's with the value that comes directly after it in the same column
# then replace all the remaining na's with 0
subset_nfl_data.fillna(method='bfill', axis=0).fillna(0)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474 -1.068169  1.146076  ... -0.032244  0.036899    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  3.318841 -5.031425  ...  0.106663 -0.156239    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796  0.000000  0.000000  ...  0.000000  0.000000    2009

[5 rows x 12 columns]