<a href="https://colab.research.google.com/github/arturbeg/random_google_colabs/blob/master/pandas_playground1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Upload your kaggle.json file with the api keys at this step
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"arturbegyan98","key":"2d22f892cf866413f9980b223efa5b30"}'}

In [0]:
!pip install -q kaggle

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [7]:
!kaggle datasets download -d zynicide/wine-reviews

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
wine-reviews.zip: Skipping, found more recently modified local copy (use --force to force download)

In [8]:
# unzip
!unzip wine-reviews.zip -d '.'

Archive:  wine-reviews.zip
  inflating: ./winemag-data-130k-v2.csv
  inflating: ./winemag-data-130k-v2.json
  inflating: ./winemag-data_first150k.csv

In [0]:
import pandas as pd

reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [15]:
reviews['country'][0]
first_row = reviews.iloc[0]
print(type(reviews.iloc))
print(type(first_row))

<class 'pandas.core.indexing._iLocIndexer'>
<class 'pandas.core.series.Series'>

In [16]:
'''
- Both loc and iloc are row-first, column second
'''

'\n- Both loc and iloc are row-first, column second\n'

In [22]:
# to get a column with iloc
first_column = reviews.iloc[:, 0]
print(first_column)
print(reviews.iloc[:3, 0])
print(reviews.iloc[-5:]) # last five elements of the dataset

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object
0       Italy
1    Portugal
2          US
Name: country, dtype: object
        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

In [23]:
# label based selection
# second paradigm for attribute selection is the one followed by loc operator
# label-based selection
# it's the data index value, not its position, which matters
reviews.loc[0, 'country']

'Italy'

In [24]:
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
...               ...                   ...     ...
129969     Roger Voss            @vossroger      90
129970     Roger Voss            @vossroger      90

[129971 rows x 3 columns]

Choosing between loc and iloc

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 

So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

In [25]:
# Manipulating the index
reviews.set_index("title")

                                                     country  ...                winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...               Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...   Quinta dos Avidagos
...                                                      ...  ...                   ...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France  ...  Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France  ...      Domaine Schoffit

[129971 rows x 12 columns]

In [26]:
# Conditional selection
reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [28]:
'''
The operation produced a Series of True/False booleans on the country of each
record; this result can then be used inside of loc to select the relevant data
'''

'\nThe operation produced a Series of True/False booleans on the country of each\nrecord; this result can then be used inside of loc to select the relevant data\n'

In [33]:
reviews.loc[reviews.country=="Italy"]

       country  ...           winery
0        Italy  ...          Nicosia
6        Italy  ...  Terre di Giurfo
...        ...  ...              ...
129961   Italy  ...              COS
129962   Italy  ...         Cusumano

[19540 rows x 13 columns]

In [34]:
reviews.loc[(reviews.country=="Italy") & (reviews.points >= 90)]

       country  ...    winery
120      Italy  ...   Ceretto
130      Italy  ...   Ceretto
...        ...  ...       ...
129961   Italy  ...       COS
129962   Italy  ...  Cusumano

[6648 rows x 13 columns]

In [35]:
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[61937 rows x 13 columns]

In [0]:
# pandas --> conditional selectors;
# isin lets you select data whose value is in  the list of values
# use it to select wines only form Italy or France

In [37]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[41633 rows x 13 columns]

In [38]:
reviews.loc[reviews.price.notnull()]

         country  ...                winery
1       Portugal  ...   Quinta dos Avidagos
2             US  ...             Rainstorm
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[120975 rows x 13 columns]

In [39]:
# Assigning data
reviews['critic'] = 'everyone'
reviews['critic']

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

In [0]:
reviews['index_backwards'] = range(len(reviews), 0, -1)

In [41]:
# summary functions and maps
reviews.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

In [42]:
reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [43]:
reviews.points.mean()

88.44713820775404

In [45]:
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [46]:
reviews.taster_name.value_counts()

Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: taster_name, Length: 19, dtype: int64

In [48]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [49]:
'''
The function you pass to map should expect a single value from
the Series (a point value), and return a transformed value
returns a new series

apply() --> transform a whole DF by calling a custom method on each row

'''

'\nThe function you pass to map should expect a single value from\nthe Series (a point value), and return a transformed value\nreturns a new series\n'

In [52]:
def remean_points(row):
  row.points = row.points - review_points_mean
  return row
reviews.apply(remean_points, axis='columns')

         country  ... index_backwards
0          Italy  ...          129971
1       Portugal  ...          129970
...          ...  ...             ...
129969    France  ...               2
129970    France  ...               1

[129971 rows x 15 columns]

In [55]:
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [56]:
reviews.country + ' - ' + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

In [57]:
#### Groupwise analysis
reviews.groupby('points').points.count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

In [68]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match.

In [70]:
# a way of selecting the name of the first wine reviewed from each winery
# in the dataset
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object